.pallet {
  margin: 10px;
  background-color: white;
  display: flex;
  flex: 1;
  justify-content: space-around;
}
.container-1 {
  display: flex;
  padding: 10px;
  margin-left: 15px;
}
.container-2 {
  display: flex;
  border: 2px solid #ccc;
  justify-content: space-around;
  margin: 10px;
  background-color: white;
}
.container-3 {
  border: 2px solid #ccc;
  box-sizing: border-box;
  background-color: white;
  margin: 10px;
}
.col-container {
  display: flex;
  margin: 15px;
  flex-direction: column;
}
.row-container {
  display: flex;
  flex-direction: row;
}
.box-1 {
  padding: 10px;
  width: 30px;
  margin-bottom: 35px;
}
.box-2 {
  background-color: white;
}
.box-3 {
  display: flex;
  border: 2px solid #ccc;
  padding: 10px;
  justify-content: center;
  margin: 5px;
  font-size: 30px;
  padding: 10px;
  background-color: rgb(33, 94, 149);
  color: white;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
}
.box-4 {
  display: flex;
  margin: 10px;
}
.box-5 {
  display: flex;
  margin: 10px;
}
.box-6 {
  display: flex;
  margin: 10px;
}

.flex-li {
  list-style-type: none;
  padding: 5px;
  border: 2px solid #ccc;
  margin: 5px;
  display: flex;
  justify-content: left;
  box-shadow: 0 2px 2px #ccc;
}
.flex-ul {
  padding: 2px;
  border: 2px solid #ccc;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.rightAlign {
  text-align: right;
}
.leftAlign {
  text-align: left;
}
table,
th,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
/*
.flex-table {
  border: 1px solid #ccc;
  margin: 10px;
}
.flex-td .flex-th {
  width: 4rem;
  height: 2rem;
  border: 10px solid #ccc;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.flex-tr {
  background: lightblue;
  border-color: white;
  border: 5px solid #ccc;
}
*/
.flex-heading {
  border-bottom: 1px solid rgb(33, 94, 149);
  padding: 5px;
  display: flex;
  text-align: center;
  background-color: rgb(33, 94, 149);
  color: white;
}

.shadow {
  box-shadow: 0 2px 2px #ccc;
}
